.product-info {
  max-width: 70rem;
  width: 90%;
  margin: 2rem auto 0;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
}

.product-info h1 {
  font-size: 32px;
}

.product-info p {
  color: #666;
  line-height: 2.4rem;
  margin-top: 0.5rem;
}

.product-info p a {
  color: #da552f;
}
