ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
}

li {
  display: grid;
  grid-template-columns: 80px auto;
  gap: 10px;
  margin-top: 20px;
}

img {
  width: 80px;
}

strong {
  font-size: 20px;
}

p {
  margin: 5px 0;
}